<%- include('../partials/header') %>

<section id="show-page">
    <div>Species:</div>
    <div>
        <%= catchlog.species %>
    </div>
    <div>Weight:</div>
    <div>
        <%= catchlog.weight  %>
    </div>
    <div>Location:</div>
    <div>
        <%= catchlog.location  %>
    </div>
    <div>Date:</div>
    <div>
        <%= catchlog.date %>
    </div>
    <div>Lure:</div>
    <div>
        <% catchlog.lure %>
    </div>
</section>



<%- include('../partials/footer') %>