<%- include('../partials/header') %>

<section id="show-page">
    <div>Species:
        <%= catchlog.species %>
    </div>
    <div>Weight:
        <%= catchlog.weightlb  %>lb <%= catchlog.weightoz  %>oz
    </div>
    <div>Location:
        <%= catchlog.location  %>
    </div>
    <div>Date:
        <%= catchlog.date.toLocaleDateString() %>
    </div>
    <div>Lure:
        <%= catchlog.lure %>
    </div>
</section>



<%- include('../partials/footer') %>